.sliderWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.wrapper {
    width: 50%;
}

.slider {
    width: 60%;
}

.title {}

@media screen and (max-width: 600px) {
    .wrapper {
        width: 80%;
    }
}

@media screen and (max-width: 400px) {
    .wrapper {
        width: 90%;
    }
}